@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Use this page with responsibility.</p>

<p>Website to demonstrate CRUD operations using ASP.NET Razor Pages.</p>
